<div class="table-responsive mt-5">
    <table class="table table-bordered">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Tên máy tính</th>
        <th scope="col">Window</th>
        <th scope="col">Key Window</th>
            <th scope="col">Office</th>
        <th scope="col">Key Office</th>
        <th scope="col">link office</th>
        <th scope="col">Tài khoản</th>
        <th scope="col">Mật khẩu</th>
        </tr>
    </thead>
    <tbody>
        {{#each keyactives}}
        <tr>
            <th scope="row">1</th>
            <td>{{this.name}}</td>
            <td>{{this.window_version}}</td>
            <td>{{this.key_window}}</td>
            <td>{{this.office_version}}</td>
            <td>{{this.key_office}}</td>
            <td>{{this.office_link}}</td>
            <td>{{this.username}}</td>
            <td>{{this.password}}</td>
        </tr>
    {{/each}}
    </tbody>
    </table>
</div>