<div class="border border-light mt-3 p-5 bg-light">
    <form class="form-inline" action="/search" >
        <input type="text" name="q" class="form-control mb-2 mr-sm-2" value="{{searchQuery}}" placeholder="Tìm kiếm">
        <button type="submit" class="btn btn-primary mb-2">Tìm kiếm</button>
    </form>
</div>
<form action="/handle-form-actions" name="container-form" method="POST">
    <div class="table-responsive mt-5">
        {{!-- <div class="mt-4 mb-3 d-flex align-items-center">
            <div class="form-check ">
                <input class="form-check-input" type="checkbox" value="" id="check-all">
                <label class="form-check-label" for="check-all">
                    Chọn tất cả
                </label>
            </div>
            <select class="form-select form-select-sm checkbox-select-all-options" aria-label=".form-select-sm example" name="action" required>
                <option value="">-- Hành động -- </option>
                <option value="delete">Xóa</option>
            </select>
            <button class="btn btn-primary btn-sm btn-check-all-submit" disabled="disabled">Áp dụng</button>
        </div> --}}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" colspan="2">#</th>
                    <th scope="col">Tên máy tính</th>
                    <th scope="col">Window</th>
                    <th   style="width: 100px;">Key Window</th>
                    <th scope="col">Office</th>
                    <th  style="width: 100px;">Key Office</th>
                    <th scope="col">link office</th>
                    <th scope="col">Tài khoản</th>
                    <th scope="col">Mật khẩu</th>
                    <th scope="col">Khóa USB</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                {{#each keyactives}}
                <tr>
                    <td scope="row">
                        <div class="form-check">
                            <input class="form-check-input" name="keyIds[]" type="checkbox" value="{{this._id}}">
                        </div>
                    </td>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.window_version}}</td>
                    <td  style="width: 100px;">{{this.key_window}}</td>
                    <td>{{this.office_version}}</td>
                    <td  style="width: 100px;">{{this.key_office}}</td>
                    <td>{{this.office_link}}</td>
                    <td>{{this.username}}</td>
                    <td>{{this.password}}</td>
                    <td>{{this.usb}}</td>
                    <td>
                        <a href="{{this._id}}/edit" class="btn btn-edit-link">Sửa</a>
                        <a href="#" class="btn btn-remove-link" data-bs-toggle="modal" data-bs-target="#delete-key-active" data-id="{{this._id}}">Xóa</a>

                    </td>
                </tr>
                {{else}}
                    <tr>
                        <td colspan="10" class="text-center">Không có máy tính nào !!! <a href="/create">Thêm mới máy tính</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    
    </div>
</form>
{{!-- delete hidden form --}}
<form name="delete-key-form" method="POST"></form>

{{!-- modal delete --}}

<div class="modal" id="delete-key-active" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa dữ liệu máy tính</h5>
                
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn xóa dữ liệu của bộ máy tính này không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" id="btn-delete-key" class="btn btn-danger">Xóa bỏ</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var keyId;
        var deleteForm = document.forms['delete-key-form'];
      //  var containerForm = document.forms['container-form'];
        var containerForm = $('form[name="container-form"]');
        var btnDelete = document.getElementById('btn-delete-key');
        var checkBoxAll = $('#check-all');
        var keyCheckBoxAll = $('input[name="keyIds[]"]');
        var checkAllSubmitBtn = $('.btn-check-all-submit');
        $('#delete-key-active').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); 
             keyId = button.data('id');
        });

        btnDelete.onclick = function () {
            deleteForm.action = '/' + keyId + '?_method=DELETE';
            deleteForm.submit();
        };

        //checkbox all change
        checkBoxAll.change(function(){
            var isCheckedAll = $(this).prop('checked');
            keyCheckBoxAll.prop("checked",isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        //checkbox item change 
        keyCheckBoxAll.change(function() {
            var isCheckedAll = keyCheckBoxAll.length === $('input[name="keyIds[]"]:checked').length;
            checkBoxAll.prop("checked",isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        //btn submit click
        checkAllSubmitBtn.click(function(e) {
           // e.preventDefault();
           var isSubmitTable = !$(this).hasClass('disabled');
            if(!isSubmitTable) {
                containerForm.submit();
            }
            
        });

       // containerForm.on('submit', function(e) {
       //     var isSubmitTable = !$(this).hasClass('disabled');
       //     if(isSubmitTable) {
       //          e.preventDefault();
       //     }
       // });
        // render check all submit btn
        function renderCheckAllSubmitBtn() {
            var checkedKey = $('input[name="keyIds[]"]:checked').length;
            if(checkedKey) {
                checkAllSubmitBtn.attr('disabled', false);
            }else {
                checkAllSubmitBtn.attr('disabled', true);
            }
        }

    });

    
</script>
{{!--  --}}